@import "./typography";
@import "./variables";

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $x-large) {
    font-size: 50%;
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", san-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--grey-dark-2);
}
